<h2>Register</h2>
<form method="post">
    <input name="Username" placeholder="Username" /><br />
    <input name="Password" type="password" placeholder="Password" /><br />
    <button>Register</button>
</form>
